/* Styles du bouton pour masquer/afficher */
.toggle-button {
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 10px 20px;
    font-size: 1em;
    background-color: #cd3232;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    z-index: 1000; /* Pour s'assurer qu'il soit au-dessus des autres éléments */
}

.toggle-button:hover {
    background-color: #ff6666;
}

/* Quand le menu est masqué */
.hidden {
    display: none;
}
